{% load static %}

<!-- Trending Area Start -->
<div class="trending-area fix">
  <div class="container">
    <div class="trending-main">
      <!-- Trending Tittle -->
      <div class="row">
        <div class="col-lg-12">{% include "aznews/main/trending/trending_title.html" %}</div>
      </div>
      <div class="row">
        {% include "aznews/main/trending/trending_left.html" %}
        {% include "aznews/main/trending/trending_right.html" %}
      </div>
    </div>
  </div>
</div>
<!-- Trending Area End -->
