{% extends "blog/base.html" %}

{% block content %}
  <form action="" method="post" class="form-control m-5">
    
    <!-- displaying form error -->
    {% if form.non_field_errors %}
      {% for err in form.non_field_errors %}<p class="form-error text-danger">{{ err }}</p>{% endfor %}
    {% endif %}

    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             placeholder="Enter your username..."
             name="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password"
             class="form-control"
             id="password"
             placeholder="Enter your password..."
             name="password">
    </div>
    <button type="submit" class="btn btn-success">Login</button>
  </form>
{% endblock content %}
