<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {% for category in categories  %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'post-by-category' category.pk %}">{{ category.name | title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
