{% extends "blog/base.html" %}

{% block content %}
  <!-- left bar -->
  <div class="col-9">{% include "blog/partials/post.html" %}</div>

  <!-- right bar -->
  <div class="col-3">
    <!-- Recent Posts -->
    <h1>Recent Posts</h1>
    {% for recent_post in recent_posts  %}
      <div class="thumbnail">
        <img src="{{ recent_post.featured_image.url }}"
             alt="{{ recent_post.title }}"
             width="180px">
        <div class="caption">
          <h4>
            <a href="">{{ recent_post.title }}</a>
          </h4>
          <p>{{ recent_post.content | truncatechars:50 }}</p>
        </div>
      </div>
    {% endfor %}
    <!-- Recent Posts end -->

    <!-- Top Posts -->
    <h1>Top Posts</h1>
    {% for top_post in top_posts  %}
      <div class="thumbnail">
        <img src="{{ top_post.featured_image.url }}"
             alt="{{ top_post.title }}"
             width="180px">
        <div class="caption">
          <h4>
            <a href="">{{ top_post.title }}</a>
          </h4>
          <p>{{ top_post.content | truncatechars:50 }}</p>
        </div>
      </div>
    {% endfor %}
    <!-- Top Posts end -->

  </div>
{% endblock content %}
