{% load static %}

<div class="header-top black-bg d-none d-md-block">
  <div class="container">
    <div class="col-xl-12">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="header-info-left">
          <ul>
            <li>
              <img src="{% static 'aznews/assets/img/icon/header_icon1.png' %}" alt="">
              34ºc, Sunny
            </li>
            <li>
              <img src="{% static 'aznews/assets/img/icon/header_icon1.png' %}" alt="">
              {% now "jS F Y" %}
            </li>
          </ul>
        </div>
        <div class="header-info-right">
          <ul class="header-social">
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </li>
            {% if user.is_authenticated %}
 
              <li>
                <a href="{% url 'post-create' %}" title="Add Post">
                  <i class="fas fa-plus"></i>
                </a>
              </li>
              <li>
                <a href="{% url 'draft-list' %}" title="Draft">
                  <i class="fas fa-edit"></i>
                </a>
              </li>
              <li>
                <a href="{% url 'category-list' %}" title="Category">
                  <i class="fa fa-book" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="{% url 'tag-list' %}" title="Tags">
                  <i class="fa fa-tags" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="{% url 'users' %}" title="Download Users">
                  <i class="fas fa-download"></i>
                </a>
              </li>
              <li>
                <a href="{% url 'post-pdf-download' %}" title="Pdf Download">
                  <i class="fas fa-arrow-alt-circle-down"></i>
                </a>
              </li>
              <li>
                <a href="{% url 'post-pdf-view' %}" title="Pdf View">
                  <i class="far fa-file-pdf"></i>
                </a>
              </li>
              <li>
                <a href="{% url 'logout' %}" title="Logout">
                  <i class="fas fa-sign-out-alt"></i>
                </a>
              </li>
            {% else %}
              <li>
                <a href="{% url 'login' %}" title="Login">
                  <i class="fas fa-sign-in-alt"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
